body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 600px;
    height: 600px;
}

.square {
    position: absolute;
    background-color: #00aaff;
    border: 1px solid #000;
}

#base {
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 250px;
}

#left {
    width: 70.7px; 
    height: 70.7px;
    bottom: 100px;
    left: 179.3px; 
    transform: rotate(45deg);
    transform-origin: bottom right;
}

#right {
    width: 70.7px;
    height: 70.7px;
    bottom: 100px;
    left: 250px;
    transform: rotate(-45deg);
    transform-origin: bottom left;
}
